@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body {
    font-family: 'Raleway', Arial, sans-serif;
    background-color: #03a9aa;
}
.pagesbody {
    display: flex;
    flex-flow: column wrap;
}

/*NAVITAGION BAR*/

.totalnav {
    background-color: #03a9aa;
    width: 100%;
    padding: 10px 0;
}
.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flexchildnav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.logo {
    margin-left: 25px;
    background-image: url(../images/logoimage.png);
    height: 50px;
    width: 200px;
}
.links {
    float: left;
    font-weight: 700;
    margin: 0 10px;
}
.links li {
    list-style: none;
    text-transform: uppercase;
}
.links a {
    color: #fff;
    text-decoration: none;
    padding: 15px 15px;
}
.links a:hover {
    color: #013636;
    text-decoration: none;
    transition: .5s;
}

/*FRONT PAGE*/

.wrapper {
    padding: 30px;
    height: 100vh;
    background: url(../images/mainbg.png)bottom right no-repeat;
    background-position: left center;
}
.mediaqueryheaderimg {
    height: 150px;
    background: url(../images/mealone.png);
    display: none;
}

/*"Brunch Simply Brunch Gracefully" area on front page*/

.leftsidebg {
    background-color: rgba(255, 255, 255, .8);
    padding: 30px;
    width: 520px;
    border-radius: 5px;
}
.button {
    background-color: #03a9aa;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    padding: 13px;
    font-weight: 700;
    letter-spacing: 2px
}
.button a {
    color: #fff;
    text-decoration: none;
}
.button a:hover {
    /*    color: #fff;*/
    text-decoration: none;
    transition: .5s;
}
.preheader p {
    margin: 5px 0;
    font-size: 18px;
    line-height: 0;
}
.bigtext p {
    font-weight: 900;
    font-size: 60px;
}
.liltext p {
    font-weight: 400;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
}
.protip {
    margin: 1em 0 0 0;
    background-color: #FFDD79;
    padding: 6px;
}
.hashtag {
    font-weight: 700;
}
.pagestext {
    width: 70%;
    padding: 0 0 60px 0;
}
.pagestext h2 {
    line-height: 1.5em;
    /*    padding: 0 0 .4em 0;*/
    margin: 1em 0 1em 0;
}
.pagestext h3 {
    line-height: 1.5em;
    /*    padding: 0 0 .4em 0;*/
    margin: .5em 0 .5em 0;
}
.pagestext p {
    font-size: 1em;
    line-height: 2em;
    /*    margin: 0 0 1em 0;*/
}
.pagestext a {
    text-decoration: none;
    font-weight: 700;
    color: #03a9aa;
}

/*PAGE HEADER STYLINGS*/

.pagesheader {
    text-align: center;
    padding: 150px 0;
    font-size: 100vw;
    margin: -5px 0 40px 0;
    font-weight: 700;
}
.inviteheader {
    background: url(../images/invitationsbg.jpg);
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
}
.menuheader {
    background: url(../images/menubg.jpg);
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
}
.decorheader {
    background: url(../images/decorbg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.resourcesheader {
    background: url(../images/resourcesbg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
}
.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #03a9aa;
    text-align: center;
    padding: 30px 0px;
    color: #fff;
}
.footer a {
    color: #fff;
}
.footer-container {
    text-align: center;
    background-color: #fff;
}
.footertext p {
    text-align: center;
}
@media (max-width: 728px) {
    body {
        padding: 0;
        margin: 0;
    }
    .totalnav {
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        margin: 0;
    }
    .logo,
    .links {
        padding: 0;
        margin: 0;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .logo img,
    .links li {
        width: 100%;
        text-align: center;
    }
    .links a {
        border-top: 1.5px solid #fff;
    }
    .wrapper {
        background: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .leftsidebg {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .mediaqueryheaderimg {
        display: flex;
        background-size: cover;
        padding: 0;
        margin: 0;
        background-position: center;
    }
    .preheader p {
        padding-top: 30px;
    }
    .inviteheader p {
        background-position: top left;
    }
}
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}
body {
    font-family: 'Raleway', Arial, sans-serif;
    background-color: #fff;
}
.pagesbody {
    display: flex;
    flex-flow: column wrap;
}
.floatleft {
    float: left;
}
.totalnav {
    background-color: #03a9aa;
    width: 100%;
    padding: 10px 0;
}
.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flexchildnav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.logo {
    margin-left: 24px;
    background-image: url(../images/logoimage.png);
    height: 50px;
    width: 200px;
}
.links {
    float: left;
    font-weight: 700;
    margin: 0 10px;
    list-style: none;
}
.links li {
    list-style: none;
}
.links a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 15px 15px;
}
.links a:active {
    color: #013636;
    text-decoration: none;
}
.links a:hover {
    color: #013636;
    text-decoration: none;
    transition: .5s;
}
.wrapper {
    margin: 0;
    padding: 30px;
    height: 100vh;
    background: url(../images/mainbg.png)bottom right no-repeat;
    background-position: left center;
}
.mediaqueryheaderimg {
    height: 150px;
    background: url(../images/mealone.png);
    display: none;
}
.leftsidebg {
    background-color: rgba(255, 255, 255, .8);
    padding: 30px;
    width: 520px;
    border-radius: 5px;
}
.button {
    background-color: #03a9aa;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    padding: 13px;
    font-weight: 700;
    letter-spacing: 2px;
}
.button a {
    color: #fff;
    text-decoration: none;
}
.button a:hover {
    color: #013636;
    font-weight: 700;
    text-decoration: none;
    transition: .5s;
}
.preheader p {
    margin: 5px 0;
    padding: 0;
    font-size: 20px;
    line-height: 0;
}
.bigtext p {
    font-weight: 900;
    font-size: 60px;
    padding: 0;
    margin: 0;
}
.liltext p {
    font-weight: 400;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
}
.protip {
    background-color: #FFDD79;
    padding: 6px;
}
.hashtag {
    font-weight: 700;
}
.pagestext {
    width: 70%;
    margin: auto;
    padding-bottom: 60px;
    font-size: 1em;
    line-height: 1.75em;
}

/*
.pagestext h2 {
    line-height: 1.5em;
}
*/

.pagestext a {
    text-decoration: none;
    font-weight: 700;
    color: #03a9aa;
}
.pagesheader {
    text-align: center;
    padding: 30px 0;
    font-size: 6vw;
    margin-top: -5px;
    margin-bottom: 30px;
    font-weight: 700;
}
.inviteheader {
    background: url(../images/invitationsbg.jpg);
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
}
.menuheader {
    background: url(../images/menubg.jpg);
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
}
.decorheader {
    background: url(../images/decorbg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.resourcesheader {
    background: url(../images/resourcesbg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
}
.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #03a9aa;
    text-align: center;
    padding: 30px 0px;
    color: #fff;
}
.footer a {
    color: #fff;
}
.footer-container {
    text-align: center;
    background-color: #fff;
}

/*
.footertext p {
    text-align: center;
}
*/

@media (max-width: 728px) {
    body {
        /*
        
        padding: 0;
        margin: 0;
*/
    }
    .totalnav {
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        /*        margin: 0;*/
    }
    .logo,
    .links {
        padding: 0;
        margin: 0;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .logo img,
    .links li {
        width: 100%;
        text-align: center;
    }
    .links a {
        border-top: 1.5px solid #fff;
    }
    .wrapper {
        background: none;
        margin: 0;
        padding: 0;
        /*        display: flex;*/
        justify-content: center;
    }
    .leftsidebg {
        display: flex;
        flex-direction: column;
        /*        margin: 0;*/
    }
    .mediaqueryheaderimg {
        display: flex;
        background-size: cover;
        /*
        padding: 0;
        margin: 0;
*/
        background-position: center;
    }
    .preheader p {
        padding: 30px 0 0 0;
    }
    .inviteheader p {
        background-position: top left;
    }
}