@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

* {
    box-sizing: border-box;
}

.homebody {
    font-family: 'Raleway', Arial, sans-serif;
    margin: 0px;
    background-color: #03a9aa;
}

#invitebody,
#menubody,
#decorbody,
#resourcebody {
    font-family: 'Raleway', Arial, sans-serif;
    margin: 0px;
    background-color: #fff;
}

/* GENERAL ACTIONS BELOW */

.floatleft {
    float: left;
}

/*--------navbar css below--------*/
/*--------------------------------*/

.totalnav {
    background-color: #03a9aa;
    width: 100%;
    padding: 10px 0;
}

.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flexchildnav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.logo {
    margin-left: 24px;
    background-image: url(../images/logoimage.png);
    height: 50px;
    width: 200px;
}
.links {
    float: left;
    font-weight: 700;
    margin: 0 10px;
    list-style: none;
}

.links li {
    list-style: none;
}
.links a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 15px 15px;
}
.links a:active {
    color: #331823;
    text-decoration: none;
}
.links a:hover {
    color: #013636;
    text-decoration: none;
    transition: .5s;
}
.links a:visited {
    color: #ffffff;
    text-decoration: none;
}

/*--------------------------------*/
/*--------navbar css above--------*/


/*----------------------------------*/
/*--------homepage css below--------*/

.wrapper {
    margin: 0;
    padding: 30px;
    height: 150vh;
    background: url(../images/mainbg.png)bottom right no-repeat;
    background-position: left center;
}
.leftsidebg {
    background-color: rgba(255,255,255, .8);
    padding: 30px;
    width: 520px;
    border-radius: 5px;
}
.button {
    background-color: #03a9aa;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    padding: 13px;
    font-weight: 700;
    letter-spacing: 2px;
}
.button a {
    color: #ffffff;
    text-decoration: none;
}
.button a:hover {
    color: #013636;
    font-weight: 700;
    text-decoration: none;
    transition: .5s;
}

.preheader p {
    margin: 5px 0;
    padding: 0;
    font-size: 20px;
    line-height: 0;
}

.bigtext p {
    font-weight: 900;
    font-size: 60px;
    padding: 0;
    margin: 0;
}
.liltext p {
    font-weight: 400;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
}
/*--------homepage css above--------*/
/*----------------------------------*/


/*--------------------------------*/
/*--------   pages below  --------*/
.protip {
    background-color: #FFDD79;
    padding: 6px;
}
.hashtag {
    font-weight: 700;
}
.pagestext {
    width: 70%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 1em;
    line-height: 1.75em;
}
.pagestext h1 {
    line-height: 1.5em;
}
.pagestext a {
    text-decoration: none;
    font-weight: 700;
    color: #03a9aa;
}
.pagesheader>p {
    text-align: center;
}
#inviteheader p {
    padding-top: 150px;
    padding-bottom: 150px;
    font-size: 100px;
    background: url(../images/invitationsbg.png);
    background-position: center;
    background-attachment: fixed;
    margin-top: -5px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}
#menuheader p {
    padding-top: 150px;
    padding-bottom: 150px;
    font-size: 100px;
    font-weight: 700;
    background: url(../images/menubg.jpg);
    background-position: bottom;
    background-attachment: fixed;
    margin-top: -5px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
}
#decorheader p {
    padding-top: 150px;
    padding-bottom: 150px;
    font-size: 100px;
    font-weight: 700;
    background: url(../images/decorbg.jpg);
    background-position: center;
    background-attachment: fixed;
    margin-top: -5px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}
#resourcesheader p {
    padding-top: 150px;
    padding-bottom: 150px;
    font-size: 100px;
    font-weight: 700;
    background: url(../images/resourcesbg.jpg);
    background-position: center;
    background-attachment: fixed;
    margin-top: -5px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
}

/*--------------------------------*/


/*--------   pages above  --------*/


/*--------------------------------*/


/*----------Footer Below----------*/

.footer {
    display:flex;
    justify-content: center;
    flex-direction: column;
    /*right: 0;
    bottom: 0;
    left: 0;*/
    background-color: #03a9aa;
    text-align: center;
    padding: 30px 0px;
    color: #fff;

}
.footer-container {
    text-align: center;
    background-color: #673147;

}
.socialmedia li {
    list-style-type: none;
    text-align: center;
}
.footertext p {
    text-align: center;
}

/*----------Footer Above----------*/


/*--------------------------------*/
